
<aside class="autor-style">
  <div *ngIf="autor.id; else selecioneAlgo">
      <p><span>Identificação do Autor:</span> {{autor.id}}</p>
      <p><span>Nome: </span>{{autor.name}}</p>
      <p><span>Email: </span>{{autor.email}}</p>  
  </div>

  <ng-template #selecioneAlgo>
      <h3>Selecione um Post</h3>
    </ng-template>
     
    

</aside>


<h2>Posts - exibindo {{posts.length}}</h2>

<h3>{{errorMsg}}</h3>
<ul *ngFor="let post of posts">
  <li (click)="listarAutor(post.userId)"><span>{{post.id}}</span> {{post.title}}</li>
</ul>